footer img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 0.75rem;
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-right: 3rem solid rgba(128, 128, 128, 0.506);
    border-left: 3rem solid rgba(128, 128, 128, 0.526);
    margin: 0 13rem;
}
footer article{
    text-align: center;
}
footer article p {
    padding: 0 4rem;
    text-align: left;
}
footer article p:nth-of-type(1) {
    margin-bottom: 1rem;
    line-height: 1.4rem;
}
footer article p:nth-of-type(2) {
    margin-bottom: 1rem;
    color: turquoise;
}
footer h4 {
    color: rgba(46, 135, 212, 0.781);
    margin-bottom: 1rem;
    text-align: left;
    padding: 0 4rem;
}